extends layout

block content
  h1= title
  p Welcome to #{title}
  hr
  
  each site, i in sites 
   div 
     div
       a(href='#{site.url}') 
         h1= site.url 
       p= site.description
   if user
     button.btn.btn-success(class='upvoteButton', id='#{site.id}') 
     &nbsp
     button.btn.btn-danger(class='upvoteButton', id='#{site.id}') 

  if user
    form(method='POST')
      legend Submit New Post
        .form-group
        label(for='url') Site Url  &nbsp
        input.form-cotrol(type='url', name='url', id='url')
        .form-group
        label(for='description') Description
        textarea.form-control(name='description', id='description')
        br
        button.btn.btn-primary(type='submit', id='siteSubmit') Create Post
        br
script.
  console.log(sites || 'nothing')
